.worddata {
  cursor: pointer;
  border-radius: 8px;

  background: #000000;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgb(0, 0, 0), 0 2px 2px rgb(0, 0, 0);
  transform: translateY(-2px); /* 背景から少し浮かせる */
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.worddata > .word {
  text-align: center;
  height: 40px;
  width: 32px;
  line-height: 40px;
}

.worddata > .number {
  font-size: 0.5rem;
  line-height: 0.7rem;
}

.worddata.active > .word {
  background-color: #a654fa;
}

.worddata > .count {
  font-size: 0.6rem;
  display: block;
  position: absolute;
  right: 3px;
  bottom: -1px;
  text-align: right;
  color: rgb(227, 227, 227);
}
